# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models & Data
models/*.pkl
models/*.keras
*.keras
data/*.csv
PlantDataset/
data/rice_disease/
rice_disease/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
